@model StudentEnrollment.Models.Book

@{
    ViewBag.Title = "CreateBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateBook</h2>
<div>
    @using (Html.BeginForm("CreateBook", "Admin", FormMethod.Post, new { @class = "" }))
    {
        @Html.ValidationSummary(true)
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label class="col-xs-3" for="ISBN">ISBN:</label>
                @Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @class = "col-xs-6 attribute-input" } })
            </div>
            <div class="form-group col-md-12">
                <label class="col-xs-3" for="Title">Title:</label>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "col-xs-6 attribute-input" } })
            </div>
            <div class="form-group col-md-12">
                <label class="col-xs-3" for="PublisherID">Publisher ID:</label>
                @Html.EditorFor(model => model.PublisherID, new { htmlAttributes = new { @class = "col-xs-6 attribute-input" } })
            </div>
            <div class="form-group col-md-12">
                <label class="col-xs-3" for="ThumbnailURL">Thumbnail URL:</label>
                @Html.EditorFor(model => model.ThumbnailURL, new { htmlAttributes = new { @class = "col-xs-6 attribute-input" } })
            </div>
            <div class="form-group col-md-12">
                <label class="col-xs-3" for="Price">Price:</label>
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "col-xs-6 attribute-input" } })
            </div>
            <div class="form-group col-md-12">
                <label class="col-xs-3" for="Availability">Availability:</label>
                @Html.EditorFor(model => model.Availability, new { htmlAttributes = new { @class = "col-xs-6 attribute-input" } })
            </div>
            <div class="form-group col-md-12">
                <label class="col-xs-3" for="Count">Count:</label>
                @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "col-xs-6 attribute-input" } })
            </div>
        </div>
        <button class="btn btn-inverse" type="submit">Save</button>
    }
</div>

<div>
    @Html.ActionLink("Cancel Creation - Return Home", "Index")
</div>