@model StudentEnrollment.Models.Section[]
<h2>@ViewData["Title"]</h2>

<table class="table myTable" style="cursor:pointer">
    <thead>
        <tr>
            <th>Term</th>
            <th>Instructor</th>
            <th>Course</th>
            <th>Location</th>
            <th>Max Students</th>
            <th>Availability</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr id="@item.ID">
                <td>@item.TermID</td>
                <td>@item.InstructorID</td>
                <td>@item.CourseID</td>
                <td>@item.LocationID</td>
                <td>@item.MaxStudents</td>
                <td>@item.Availability</td>
            </tr>
        }
    </tbody>
</table>

