
@{

    ViewData["Title"] = "Home Page";

    var studentList = ViewData["StudentList"] as List<StudentEnrollment.Models.Instructor>;

    var courseList = ViewData["CourseList"] as StudentEnrollment.Models.Course[];

    var student = ViewData["Student"] as StudentEnrollment.Models.Student;
    var studentSections = ViewData["StudentSections"] as StudentEnrollment.Models.Section[];
    var instructors = ViewData["SectionInstructors"] as StudentEnrollment.Models.Instructor[];
    var rooms = ViewData["SectionRooms"] as StudentEnrollment.Models.Location[];
    var courses = ViewData["SectionCourses"] as StudentEnrollment.Models.Course[];
}

<h2>LocalProxy Courses</h2>

@foreach (var item in courseList)
{
    <div>
        @item.Name
        @item.MinGPA
        @item.CourseCode
        @item.Credits
    </div>

}

<h2>Getting Student with ID #0</h2>
@for (var i = 0; i < studentSections.Length; i++)
{
    <div>
        <h3>@courses[i].Name @studentSections[i].ID</h3>
        <p>Instructor: @instructors[i].FirstName @instructors[i].LastName </p>
        <p>Location: Building @rooms[i].BuildingNumber Room @rooms[i].RoomNumber</p>
    </div>
}



