@{
    var sections = ViewData["Sections"] as List<StudentEnrollment.Models.Section>;
    var course = ViewData["Course"] as StudentEnrollment.Models.Course;
}
<h2>@ViewData["Title"]</h2>
<p>All sections for course with Id:@course.ID</p>
<table class="table">
    <thead>
        <tr>
            <th>Term</th>
            <th>Instructor</th>
            <th>Course</th>
            <th>Location</th>
            <th>Students</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in sections)
        {
            <tr id="@item.ID">
                <td>@item.Term.Code</td>
                <td>@item.Instructor.LastName</td>
                <td>@item.Course.Name</td>
                <td>@item.Location</td>
                <td>@item.StudentsInSection.Count / @item.MaxStudents</td>
        </tr>

        }
    </tbody>
</table>