@model StudentEnrollment.Models.Section
@{
    var professor = ViewData["Instructor"] as StudentEnrollment.Models.Instructor;
    var course = ViewData["Course"] as StudentEnrollment.Models.Course;
    var students = ViewData["Enrolled"];
    var waitlist = ViewData["Waitlist"];
    var student = ViewData["Student"] as StudentEnrollment.Models.Student;
    //var first = professor.FirstName;
}
@*{
        var sections = ViewData["Sections"] as List<StudentEnrollment.Models.Section>;
        var course = ViewData["Course"] as StudentEnrollment.Models.Course;
    }*@
<h2>@course.Name</h2>

@if ((string)ViewData["Role"] == "ADMIN" || (string)@ViewData["Role"] == "Admin" 
    || (string)ViewData["Role"] == "admin"
    || (string)ViewData["Role"] == "Instructor" || (string)ViewData["Role"] == "instructor" 
    || (string)ViewData["Role"] == "INSTRUCTOR")
{
    <div class="col-md-12 section-container">
        @using (Html.BeginForm("EditSection", "Section", FormMethod.Post, new { @class = "col-md-10 col-md-offset-1 section-details" }))
        {
            @Html.ValidationSummary(true)
            <div class="form-group col-md-6">
                <label class="col-xs-6" for="instructor">Instructor:</label>
                @Html.EditorFor(model => model.InstructorID, new { htmlAttributes = new { @class = "col-xs-6 attribute" } })
                <!--<input class="col-xs-6" type="text" id="courseCode" placeholder= disabled /><br />-->
            </div>

            <div class="form-group col-md-6">
                <label class="col-xs-6" for="location">Location:</label>
                @Html.EditorFor(model => model.LocationID, new { htmlAttributes = new { @class = "col-xs-6 attribute"} })
                <!--<input class="col-xs-6" type="text" id="name" placeholder=@Model.LocationID disabled /><br />-->
            </div>

            <div class="form-group col-md-6">
                <label class="col-xs-6" for="credits">Max Students:</label>
                @Html.EditorFor(model => model.MaxStudents, new { htmlAttributes = new { @class = "col-xs-6 attribute"} })
                <!--<input class="col-xs-6" type="text" id="credits" placeholder=@Model.MaxStudents disabled /><br />-->
            </div>


            <div class="form-group col-md-6">
                <label class="col-xs-6" for="available">Currently Available:</label>
                @Html.EditorFor(model => model.Availability, new { htmlAttributes = new { @class = "attribute"} })
            </div>
           
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.CourseID)
            @Html.HiddenFor(model => model.TermID)

            <div class="form-group col-md-6 text-right">
                <button id="editBtn" type="button" value="Edit">Edit</button>
                <button class="attribute" type="submit" value="Submit">Save</button>
            </div>
        }
    </div>

}



<div class="section-container col-md-12 " style="cursor:pointer;">
    <div class="row justify-content-center">
        <div class="form-group col-md-6">
            <label class="col-xs-6" for="courseCode">Course Code:</label>
            @course.CourseCode.ToString()
        </div>
        <div class="form-group col-md-6">
            <label class="col-xs-6" for="courseName">Course Name:</label>
            @course.Name.ToString()
        </div>
        </div>
    <div class="row justify-content-center">
        <div class="form-group col-md-6">
            <label class="col-xs-6" for="instructorName">Instructor:</label>
            @professor.LastName.ToString()
        </div>
        <div class="form-group col-md-6">
            <label class="col-xs-6" for="instructorName">Location:</label>
            @Model.LocationID
        </div>
    </div>

    
    <div class="row justify-content-center">
        <div class="form-group col-md-6">
            <label class="col-xs-6" for="instructorName">Maximum Students:</label>
            @Model.MaxStudents
        </div>
        <div class="form-group col-md-6">
            <label class="col-xs-6" for="numStudents">Students Enrolled:</label>
            @students.ToString()
        </div>
    </div>

    
    <div class="row">
        <div class="form-group col-md-6">
            <label class="col-xs-6" for="waitlistSize">Waitlist Capacity:</label>
            @Model.MaxStudents
        </div>
        <div class="form-group col-md-6">
            <label class="col-xs-6" for="numWaitlist">Students on Waitlist:</label>
            @waitlist.ToString()
        </div>
    </div>
   
    <div class="row">
        <div class="form-group col-md-6">
            <label class="col-xs-6" for="termID">Term:</label>
            @Model.TermID
        </div>
        <div class="form-group col-md-6">
            <label class="col-xs-6" for="availability">Availability:</label>
            @Model.Availability
        </div>
    </div>          
</div> <!-- end section-container-->
<br />

<label for="accessServices">Check for access services:  </label><input type="checkbox" id="accessServices" name="accessServices" value="accessServices" /><br /><br />
@if ((string)ViewData["Role"] == "ADMIN" || (string)@ViewData["Role"] == "Admin"
                            || (string)ViewData["Role"] == "admin")
{
    <button type="button" data-toggle="modal" data-target="#enrollStudentModal" class="btn btn-primary">Enroll Student</button>
}
@{
    if ((String)ViewData["Enroll"] == "Enroll")
    {
        <button type="button" data-toggle="modal" data-target="#confirmationModal"class="btn btn-default">Enroll</button>
        @*<form method="post" id="enroll" action="/Section/Enroll">
                <input data-val="true" type="hidden" value="@Model.ID" name="sectionID" id="sectionID" />
                <button type="submit" id="enroll" value="Enroll" class="btn btn-default">Enroll</button>
            </form>*@
    }
    else if ((String)ViewData["Enroll"] == "Waitlist")
    {
        <button type="button" data-toggle="modal" data-target="#waitlistConfirmationModal">Waitlist</button>
    }
    else if ((String)ViewData["Enroll"] == "Already Enrolled")
    {
        <button type="button" data-toggle="modal" data-target="#withdrawConfirmationModal" class="btn alert-warning">Withdraw</button>
    }
}
<div id="confirmationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Enrollment</h4>
            </div>
            <div class="modal-body">
                <p>This class will be added to your schedule.</p>
            </div>
            <div class="modal-footer">
                <form method="post" action="/Section/Enroll">
                    
                    <input type="hidden" name="studentID" value="@student.ID" />
                    <input type="hidden" name="sectionID" value="@Model.ID">
                    <button type="submit" value="Submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="waitlistConfirmationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Waitlist</h4>
            </div>
            <div class="modal-body">
                <p>You will be added to the waitlist for this section.</p>
            </div>
            <div class="modal-footer">
                <form method="post" action="/Section/Waitlist">
                    <input type="hidden" name="studentID" value="@student.ID" />
                    <input type="hidden" name="sectionID" value="@Model.ID">
                    <button type="submit" value="Submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="withdrawConfirmationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Withdraw</h4>
            </div>
            <div class="modal-body">
                <p>You will be withdrawn from this section. </p>
            </div>
            <div class="modal-footer">
                <form method="post" action="/Section/">
                    <input type="hidden" name="studentID" value="@student.ID" />
                    <input type="hidden" name="sectionID" value="@Model.ID">
                    <button type="submit" value="Submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="enrollStudentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Enroll Student</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/Section/Enroll">
                    Student ID to enroll: <input type="number" name="studentID" />
                    <input type="hidden" name="sectionID" value="@Model.ID">
                    <button type="submit" value="Submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>