@model StudentEnrollment.Models.Section


@{
    var professor = ViewData["Instructor"] as StudentEnrollment.Models.Instructor;
    var course = ViewData["Course"] as StudentEnrollment.Models.Course;
    //var first = professor.FirstName;
}
    
    @*{
        var sections = ViewData["Sections"] as List<StudentEnrollment.Models.Section>;
        var course = ViewData["Course"] as StudentEnrollment.Models.Course;
    }*@

  <h2>professor</h2>

        <table class="table myTable" style="cursor:pointer">
            <thead>
                <tr>
                    
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Instructor</th>
                    <th>Location</th>
                    <th>Max Students</th>
                    <th>Term</th>
                    <th>Availability</th>
                </tr>
            </thead>
            <tbody>
               
                    <tr id="@Model.ID">
                        <td>@course.CourseCode.ToString()</td>
                        <td>@course.Name.ToString()</td>
                        <td>@professor.LastName.ToString()</td>
                        <td>@Model.LocationID</td>
                        <td>@Model.MaxStudents</td>
                        <td>@Model.TermID</td>
                        <td>@Model.Availability</td>
                    </tr>
          
            </tbody>
        </table>
<form method="post"
<button type="submit" id="enroll" value="Enroll" class="btn btn-default">Enroll</button>
    </form>
 
