@model StudentEnrollment.Models.Section


@{
    var professor = ViewData["Instructor"] as StudentEnrollment.Models.Instructor;
    var course = ViewData["Course"] as StudentEnrollment.Models.Course;
    var students = ViewData["Enrolled"];
    //var first = professor.FirstName;
}
    
    @*{
        var sections = ViewData["Sections"] as List<StudentEnrollment.Models.Section>;
        var course = ViewData["Course"] as StudentEnrollment.Models.Course;
    }*@

  <h2>@ViewData["Title"]</h2>

        <table class="table myTable" style="cursor:pointer">
            <thead>
                <tr>
                    
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Instructor</th>
                    <th>Location</th>
                    <th>Max Students</th>
                    <th>Students Ennrolled</th>
                    <th>Term</th>
                    <th>Availability</th>
                </tr>
            </thead>
            <tbody>
               
                    <tr id="@Model.ID">
                        <td>@course.CourseCode.ToString()</td>
                        <td>@course.Name.ToString()</td>
                        <td>@professor.LastName.ToString()</td>
                        <td>@Model.LocationID</td>
                        <td>@Model.MaxStudents</td>
                        <td>@students.ToString()</td>
                        <td>@Model.TermID</td>
                        <td>@Model.Availability</td>
                    </tr>
          
            </tbody>
        </table>
@{
    if ((String)ViewData["Enroll"] == "Enroll")
    {
        <form method="post" action="/Section/Enroll">
            <button type="submit" id="enroll" value="Enroll" class="btn btn-default">Enroll</button>
        </form>
    }
    else if ((String)ViewData["Enroll"] == "Waitlist")
    {
        <form method="post" action="/Section/Waitlist">
            <button type="submit" id="waitlist" value="Waitlist" class="btn btn-default">Waitlist</button>
        </form>
    }
}

 
